it/NewPC/n8n/Main/TestNewCustomerProfiler.json
{
  "name": "Test Customer Profiler",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const json=$input.first().json;\nconst raw=(json.chatInput||json.input||json.message||json.text||json.userMessage||'').trim();\nconst msg=raw.replace(/^\\[\\s*/,'').replace(/\\s*\\]$/,'').trim();\nif(msg.toLowerCase()==='list')return[{json:{mode:'list'}}];\nconst rem=msg.match(/^remove\\s+([A-Z0-9]{6,8})$/i);\nif(rem)return[{json:{mode:'remove',companyNumber:rem[1].toUpperCase()}}];\nconst upd=msg.match(/^update\\s+([A-Z0-9]{6,8})\\s+(.+)$/i);\nif(upd){\n  const companyNumber=upd[1].toUpperCase();\n  const fieldsRaw=upd[2].split('|').map(function(s){return s.trim();}).filter(Boolean);\n  const updates=[];\n  const fieldErrors=[];\n  for(let i=0;i<fieldsRaw.length;i++){\n    const fm=fieldsRaw[i].match(/^([^=]+?)\\s*=\\s*(.+)$/);\n    if(!fm){fieldErrors.push('Cannot parse field \"'+fieldsRaw[i]+'\"');continue;}\n    updates.push({field:fm[1].trim(),value:fm[2].trim()});\n  }\n  if(updates.length===0){\n    throw new Error((fieldErrors.length?fieldErrors.join('; '):'No valid field updates found.')+' Format: update <RegNo> <Field>=<Value> | <Field>=<Value>');\n  }\n  return[{json:{mode:'update',companyNumber:companyNumber,updates:updates}}];\n}\nconst lines=msg.split(/\\r?\\n/).map(function(l){return l.trim();}).filter(Boolean);\nconst results=[];\nconst errors=[];\nfor(let i=0;i<lines.length;i++){\n  const line=lines[i];\n  const parts=line.match(/^add\\s+([A-Z0-9]{6,8})\\s+(\\d{1,2})\\s+(.+)$/i);\n  if(!parts){errors.push('Line '+(i+1)+': cannot parse \"'+line+'\"');continue;}\n  const pipeParts=parts[3].split('|');\n  const products=pipeParts[0].split(',').map(function(p){return p.trim();}).filter(Boolean);\n  const note=pipeParts.length>1?pipeParts.slice(1).join('|').trim():'';\n  results.push({json:{mode:'add',companyNumber:parts[1].toUpperCase(),ranking:Number(parts[2]),products:products,note:note}});\n}\nif(results.length===0){\n  const hint=errors.length>0?errors.join('; '):'No valid commands found.';\n  throw new Error(hint+' Format: add <RegNo> <Ranking> <Products> | <Note>');\n}\nreturn results;"
      },
      "id": "8c95bdd3-a8a4-411e-9896-fc0c943e5b54",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8560,
        2608
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.mode }}",
              "value2": "list"
            }
          ]
        }
      },
      "id": "21207c6c-d6e2-446c-b679-44a52a73f42b",
      "name": "Route",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        8752,
        2608
      ]
    },
    {
      "parameters": {
        "url": "={{'https://api.company-information.service.gov.uk/company/'+$json.companyNumber}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "ff7d2036-7b49-4992-9286-10d245e25bca",
      "name": "CH: Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9424,
        2640
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PL9KCqe3GZ1iSIFZ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{'https://api.company-information.service.gov.uk/company/'+$('CH: Company').first().json.company_number+'/officers?items_per_page=10'}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "62206168-8dc3-487a-a7b0-072cc449ebd8",
      "name": "CH: Officers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9664,
        2640
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PL9KCqe3GZ1iSIFZ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{'https://api.company-information.service.gov.uk/company/'+$('CH: Company').first().json.company_number+'/filing-history?category=accounts&items_per_page=1'}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "68c20af3-1d33-4a2c-912e-063442ea7242",
      "name": "CH: Filing History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9904,
        2640
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PL9KCqe3GZ1iSIFZ",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const d=$input.first().json;\nconst f=(d.items||[])[0];\nconst metaUrl=f&&f.links&&f.links.document_metadata?f.links.document_metadata:null;\nreturn[{json:{metaUrl:metaUrl,filingDate:f?f.date:null,filingType:f?f.type:null}}];"
      },
      "id": "87c69d12-d11d-4847-a872-92f80daf868e",
      "name": "Get Filing URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10144,
        2640
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.metaUrl || 'https://api.company-information.service.gov.uk/nosuchfile' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "4678e901-4caa-45df-b863-e7ced0be21f7",
      "name": "CH: Doc Metadata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10384,
        2640
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PL9KCqe3GZ1iSIFZ",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const meta=$input.first().json;\nconst downloadUrl=meta.links&&meta.links.document?meta.links.document:null;\nreturn[{json:{downloadUrl:downloadUrl}}];"
      },
      "id": "25a56d60-b2dd-4b79-b707-9317ec5e1bfc",
      "name": "Extract PDF URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10624,
        2640
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.downloadUrl || 'https://document-api.company-information.service.gov.uk/nosuchfile' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "72ddc717-b07f-47d6-94f0-a31600b76159",
      "name": "CH: Get Redirect",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10864,
        2640
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PL9KCqe3GZ1iSIFZ",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const resp=$input.first().json;\nconst hdrs=resp.headers||{};\nconst s3Url=hdrs.location||hdrs.Location||null;\nreturn[{json:{s3Url:s3Url}}];"
      },
      "id": "5af5f74c-6ba2-40e2-9d61-439e795a52d3",
      "name": "Extract S3 URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11104,
        2640
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.s3Url || 'https://document-api.company-information.service.gov.uk/nosuchfile' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "*/*"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "pdfData"
            }
          }
        }
      },
      "id": "43d0c4ef-81bf-49e5-836d-472e19f52239",
      "name": "CH: Download PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11744,
        2528
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const s3Url=($input.first().json.s3Url||'').toLowerCase();const format=s3Url.includes('xhtml')||s3Url.includes('xml')?'ixbrl':'pdf';return[{json:{...$input.first().json,format}}];"
      },
      "id": "0f1a4e51-8607-43db-99fc-46597da01812",
      "name": "Detect Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11280,
        2640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.format }}",
              "value2": "pdf"
            }
          ]
        }
      },
      "id": "9c5f1601-4c92-46a3-aa09-faa6589b1f2a",
      "name": "Route: Format",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        11472,
        2640
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.s3Url || 'https://document-api.company-information.service.gov.uk/nosuchfile' }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "1e77d4dc-150a-4e7a-b1ae-236c8493e031",
      "name": "CH: Download iXBRL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11792,
        2736
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const raw = $input.first().json.data;\n  if (!raw) return [{json:{ollamaBody:null,hasImages:false,debug:'no data from download'}}];\n  const content = String(raw).substring(0, 500000);\n\n  // 1. Build context map from xbrli:context blocks\n  const ctxMap = {};\n  const ctxRe = /<xbrli:context\\s+id=\"([^\"]+)\"([\\s\\S]*?)<\\/xbrli:context>/gi;\n  let cm;\n  while ((cm = ctxRe.exec(content)) !== null) {\n    const id = cm[1];\n    const body = cm[2];\n    const em = body.match(/<xbrli:endDate>\\s*([^<]+?)\\s*<\\/xbrli:endDate>/i);\n    const im = body.match(/<xbrli:instant>\\s*([^<]+?)\\s*<\\/xbrli:instant>/i);\n    ctxMap[id] = {end:em?em[1].trim():null, instant:im?im[1].trim():null, hasSegment:/<xbrli:segment/i.test(body)};\n  }\n\n  // Latest year-end date across all contexts\n  let latestEnd = null;\n  for (const c of Object.values(ctxMap)) {\n    const d = c.end || c.instant;\n    if (d && (!latestEnd || d > latestEnd)) latestEnd = d;\n  }\n\n  // Parent-preferred context IDs: no segment dimension, latest end date\n  const periodCtxIds = Object.entries(ctxMap).filter(function([,c]){return c.end===latestEnd&&!c.hasSegment;}).map(function([id]){return id;});\n  const instantCtxIds = Object.entries(ctxMap).filter(function([,c]){return c.instant===latestEnd&&!c.hasSegment;}).map(function([id]){return id;});\n\n  // 2. Parse all ix:nonFraction and ix:nonNumeric elements (handles any attribute order)\n  const elements = [];\n  const reOpen = /<ix:(nonFraction|nonNumeric)\\b([^>]*)>/gi;\n  let om;\n  while ((om = reOpen.exec(content)) !== null) {\n    const tagType = om[1];\n    const attrs = om[2];\n    const nameM  = attrs.match(/\\bname=\"([^\"]+)\"/i);\n    const ctxM   = attrs.match(/\\bcontextRef=\"([^\"]+)\"/i);\n    const signM  = attrs.match(/\\bsign=\"([^\"]+)\"/i);\n    const scaleM = attrs.match(/\\bscale=\"(-?[0-9]+)\"/i);\n    if (!nameM || !ctxM) continue;\n    const closeTag = '</ix:' + tagType + '>';\n    const start = om.index + om[0].length;\n    const end = content.indexOf(closeTag, start);\n    if (end === -1) continue;\n    const inner = content.substring(start, end).replace(/<[^>]+>/g,'').replace(/\\s+/g,' ').trim();\n    elements.push({name:nameM[1], ctx:ctxM[1], sign:signM?signM[1]:null, scale:scaleM?parseInt(scaleM[1]):0, text:inner});\n  }\n\n  // 3. Helper functions\n  function parseNum(el) {\n    if (!el || !el.text) return null;\n    const t = el.text.trim();\n    const isNeg = el.sign === '-' || /^\\(.*\\)$/.test(t);\n    const clean = t.replace(/[\u00a3$\u20ac,\\s()]/g, '');\n    const n = parseFloat(clean);\n    if (isNaN(n)) return null;\n    return (isNeg ? -n : n) * Math.pow(10, el.scale || 0);\n  }\n  function findVal(ctxIds, concepts) {\n    for (const name of concepts) {\n      const el = elements.find(function(e){return e.name===name&&ctxIds.includes(e.ctx);});\n      if (el) {const v = parseNum(el); if (v !== null) return v;}\n    }\n    return null;\n  }\n\n  // 4. Extract key financial values directly from XBRL tags\n  const yearEndEl = elements.find(function(e){return e.name==='bus:EndDateForPeriodCoveredByReport';});\n  const yearEndRaw = yearEndEl ? yearEndEl.text.trim() : latestEnd;\n  const yearEnd = yearEndRaw ? ((yearEndRaw.match(/\\d{4}/)||[])[0]||yearEndRaw) : null;\n\n  const xbrl = {\n    turnover:      findVal(periodCtxIds,  ['core:TurnoverRevenue','core:Turnover','bus:Turnover','core:Revenue']),\n    employees:     findVal(periodCtxIds,  ['core:AverageNumberEmployeesDuringPeriod','bus:AverageNumberEmployeesDuringPeriod','core:EmployeesNumber']),\n    netAssets:     findVal(instantCtxIds, ['core:NetAssetsLiabilities','core:Equity','core:TotalEquity','bus:NetAssetsLiabilities']),\n    profitAfterTax:findVal(periodCtxIds,  ['core:ProfitLoss','core:ProfitLossForPeriod','core:ProfitLossAttributableToOwnersOfParent']),\n    yearEnd\n  };\n\n  // 5. If all numeric fields found, skip Ollama entirely\n  const foundFields   = Object.entries(xbrl).filter(function([,v]){return v!==null;});\n  const missingFields = Object.entries(xbrl).filter(function([k,v]){return v===null&&k!=='yearEnd';});\n  if (missingFields.length === 0) {\n    return [{json:{ollamaBody:null, hasImages:false, xbrlExtracted:xbrl}}];\n  }\n\n  // 6. Fallback: full-document Ollama analysis for any missing fields\n  const cleanText = content\n    .replace(/<[^>]{0,500}>/g,' ')\n    .replace(/&nbsp;/g,' ')\n    .replace(/&amp;/g,'&')\n    .replace(/&pound;/gi,'\u00a3')\n    .replace(/&#[0-9]+;/g,' ')\n    .replace(/[ \\t]{2,}/g,' ')\n    .replace(/\\n{3,}/g,'\\n\\n');\n\n  const fmt = function(v){return v==null?'null':(v<0?'-\u00a3'+Math.abs(Math.round(v)).toLocaleString():'\u00a3'+Math.round(v).toLocaleString());};\n  const preContext = foundFields.length > 0\n    ? 'The following were already extracted from XBRL tags (high confidence \u2014 use these unless the document clearly contradicts them):\\n'\n      + foundFields.map(function([k,v]){\n          if (k==='yearEnd') return 'Year: '+v;\n          if (k==='employees') return 'Employees: '+v;\n          if (k==='turnover') return 'Turnover: '+fmt(v);\n          if (k==='netAssets') return 'Net assets: '+fmt(v);\n          if (k==='profitAfterTax') return 'Profit: '+fmt(v);\n          return k+': '+v;\n        }).join('\\n') + '\\n\\n'\n    : '';\n\n  const prompt = 'You are reading UK company accounts from an iXBRL filing. Find these five figures for the CURRENT YEAR from the PARENT COMPANY (not group/consolidated if both are shown).\\n\\n'\n    + preContext\n    + 'Find or confirm:\\n1. Annual turnover or revenue (GBP)\\n2. Average number of employees\\n3. Net assets or total equity (GBP)\\n4. Profit after tax (GBP) \u2014 negative if a loss\\n5. Financial year end date\\n\\n'\n    + 'In UK accounts, figures in parentheses e.g. (45,000) are negative. Always output negatives with a minus sign.\\n\\n'\n    + 'Respond with ONLY these five lines:\\nTurnover: \u00a32,450,000\\nEmployees: 45\\nNet assets: \u00a3890,000\\nProfit: \u00a3123,456\\nYear: 2023\\n\\n'\n    + 'If a loss: Profit: -\u00a345,000\\nIf not found: write null.\\n\\nACCOUNTS TEXT:\\n' + cleanText;\n\n  const body = JSON.stringify({model:'qwen3.5:27b', prompt, stream:false, think:false});\n  return [{json:{ollamaBody:body, hasImages:false, xbrlExtracted:xbrl}}];\n} catch(e) {\n  return [{json:{ollamaBody:null, hasImages:false, debug:'error: '+String(e)}}];\n}"
      },
      "id": "f352523c-7695-4582-81cc-97ea6990320b",
      "name": "Extract iXBRL Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12000,
        2736
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.192:8086/convert",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "pdfData",
        "options": {
          "timeout": 30000
        }
      },
      "id": "ab7adc70-1213-40b4-ba3d-f78ed9e6aa7e",
      "name": "Convert PDF to Images",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11920,
        2528
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const imgData=($input.first().json||{}).images||[];\nif(imgData.length===0)return[{json:{ollamaBody:null,hasImages:false}}];\nconst prompt='You are reading pages from UK company accounts filed at Companies House. Look carefully at every page and find these four figures.\\n\\nIn UK accounts, tables always show TWO columns: the LEFT column is the CURRENT YEAR and the RIGHT column is the prior year. Always take figures from the LEFT (current year) column only.\\n\\n1. Annual turnover or revenue (in GBP) - LEFT column only\\n2. Average number of employees - LEFT column only, single total figure\\n3. Net assets or total equity (in GBP) - LEFT column only\\n4. Profit after tax (in GBP) - LEFT column only. This may be negative (a loss).\\n5. Financial year end date\\n\\nIMPORTANT: If column headings show figures are in thousands (e.g. \u00a3000 or \u00a3 000), multiply each figure by 1000 to give the full amount. Preserve the sign for profit \u2014 use a minus sign if it is a loss. In UK accounts, figures shown in parentheses e.g. (\u00a345,000) are negative. Always output negative values with a minus sign, not parentheses.\\n\\nState each figure on its own line in exactly this format:\\nTurnover: \u00a32,450,000\\nEmployees: 45\\nNet assets: \u00a3890,000\\nProfit: \u00a3123,456\\nYear: 2023\\n\\nIf a figure is a loss, write it as: Profit: -\u00a345,000\\nIf you cannot find a figure, write null for that line. Do not list multiple values for the same field.';\nconst body=JSON.stringify({model:'qwen2.5vl:7b',prompt:prompt,images:imgData,stream:false});\nreturn[{json:{ollamaBody:body,hasImages:true}}];"
      },
      "id": "a887e6fc-7773-4bf6-9504-03e372236bef",
      "name": "Prep Vision Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12080,
        2528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.192:11434/api/generate",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.ollamaBody }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "0b38284d-5de1-40a9-8ede-e4761977ad73",
      "name": "HTTP: Extract Financials",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12416,
        2624
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{'http://192.168.1.192:8080/search?format=json&categories=general&q='+encodeURIComponent($('CH: Company').first().json.company_number+' '+($('CH: Company').first().json.company_name||'')+' employees fleet vehicles')}}",
        "options": {}
      },
      "id": "700db597-ddf9-4a74-b02b-f2d2d11e8b4f",
      "name": "Web Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12656,
        2624
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const companyNumber=$('CH: Company').first().json.company_number;\nconst parseItems=$('Parse Input').all();\nconst matched=parseItems.find(function(item){return item.json.companyNumber&&item.json.companyNumber.toUpperCase()===companyNumber.toUpperCase();});\nconst input=matched?matched.json:{companyNumber:companyNumber,ranking:5,products:[],note:''};\nconst company=$('CH: Company').first().json;\nconst officers=$('CH: Officers').first().json;\nconst webData=$input.first().json;\nlet financials={turnover:null,employees:null,netAssets:null,profitAfterTax:null,accountsYear:null};\ntry {\n  let xbrlDirect = null;\n  try {\n    const xbrlNode = $('Extract iXBRL Text').first();\n    if (xbrlNode && xbrlNode.json && xbrlNode.json.xbrlExtracted && xbrlNode.json.ollamaBody === null) {\n      xbrlDirect = xbrlNode.json.xbrlExtracted;\n    }\n  } catch(xe) {}\n\n  if (xbrlDirect) {\n    financials = {\n      turnover:      xbrlDirect.turnover,\n      employees:     xbrlDirect.employees,\n      netAssets:     xbrlDirect.netAssets,\n      profitAfterTax:xbrlDirect.profitAfterTax,\n      accountsYear:  xbrlDirect.yearEnd\n    };\n  } else {\n    const finRaw = $('HTTP: Extract Financials').first().json;\n    if (finRaw && finRaw.response) {\n      const text = finRaw.response;\n      try {\n        const parsed = JSON.parse(text);\n        financials = {\n          turnover:      parsed.turnover||null,\n          employees:     parsed.employees||null,\n          netAssets:     parsed.netAssets||null,\n          profitAfterTax:parsed.profitAfterTax||parsed.profit||null,\n          accountsYear:  parsed.year||null\n        };\n      } catch(e) {\n        const lines = text.split(/\\r?\\n/);\n        const getNum = function(key){\n          const line = lines.find(function(l){return l.toLowerCase().startsWith(key.toLowerCase());});\n          if (!line) return null;\n          const neg = line.includes('-') || line.includes('(');\n          const n = parseInt(line.slice(key.length).replace(/[^0-9]/g,''));\n          return isNaN(n) ? null : (neg ? -n : n);\n        };\n        const yearLine = lines.find(function(l){return l.toLowerCase().startsWith('year:');});\n        const yM = yearLine ? yearLine.match(/(20\\d\\d|19\\d\\d)/) : null;\n        financials = {\n          turnover:      getNum('Turnover:'),\n          employees:     getNum('Employees:'),\n          netAssets:     getNum('Net assets:'),\n          profitAfterTax:getNum('Profit:'),\n          accountsYear:  yM?yM[1]:null\n        };\n      }\n    }\n  }\n} catch(e) {}\nconst webResults=(webData.results||[]).slice(0,3);\nconst webSnippets=webResults.map(function(r){return(r.title||'')+': '+(r.content||'').substring(0,150);});\nconst reg=company.registered_office_address||{};\nconst address=[reg.address_line_1,reg.locality,reg.postal_code].filter(Boolean).join(', ');\nconst region=reg.county||reg.region||reg.locality||'';\nconst dirs=(officers.items||[]).filter(function(o){return!o.resigned_on;}).map(function(o){return o.name+' ('+o.officer_role+')';}).slice(0,5);\nlet accountsConfidence='none';\ntry{const metaUrl=$('Get Filing URL').first().json.metaUrl;if(metaUrl){const fmt=$('Detect Format').first().json.format;accountsConfidence=fmt==='ixbrl'?'high':'low';}}catch(e){}\nconst profile={companyNumber:input.companyNumber,companyName:company.company_name||'',address:address,region:region,sicCodes:company.sic_codes||[],incorporated:company.date_of_creation||null,status:company.company_status||'',directors:dirs,customerRanking:input.ranking,products:input.products,financials:financials,accountsConfidence:accountsConfidence,rankingNote:input.note||'',webSnippets:webSnippets,profileDate:new Date().toISOString().split('T')[0]};\nconst store=$getWorkflowStaticData('global');\nif(!store.profiles)store.profiles={};\nstore.profiles[input.companyNumber]=profile;\nreturn[{json:profile}];"
      },
      "id": "46b09cfa-1fc0-47fe-a737-8b504c7e1cbb",
      "name": "Build & Save Profile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12896,
        2624
      ]
    },
    {
      "parameters": {
        "jsCode": "const store=$getWorkflowStaticData('global');\nconst profiles=store.profiles||{};\nconst list=Object.values(profiles).sort(function(a,b){return b.customerRanking-a.customerRanking;});\nconst date=new Date().toLocaleDateString('en-GB');\nconst subj='Portland Fuel Customer Profiles \u2014 '+list.length+' companies | '+date;\nconst ch=function(n){return 'https://find-and-update.company-information.service.gov.uk/company/'+n;};\nconst confBadge=function(c){if(c==='high')return '<span style=\"color:#27ae60;font-weight:bold\">High</span>';if(c==='low')return '<span style=\"color:#e67e22;font-weight:bold\">Low</span>';return '<span style=\"color:#999\">\u2014</span>';};\nconst rows=list.map(function(p){const fin=p.financials||{};const bd='border-bottom:'+(p.rankingNote?'none':'1px solid #ddd');const noteRow=p.rankingNote?'<tr><td colspan=\"9\" style=\"padding:4px 8px 10px;color:#666;font-style:italic;font-size:12px;border-bottom:1px solid #ddd\"><em>Note: '+p.rankingNote+'</em></td></tr>':'';return '<tr>'+'<td style=\"padding:8px;'+bd+'\"><strong><a href=\"'+ch(p.companyNumber)+'\" target=\"_blank\">'+p.companyName+'</a></strong><br><small>'+p.companyNumber+'</small></td>'+'<td style=\"padding:8px;'+bd+';text-align:center\"><strong>'+p.customerRanking+'/10</strong></td>'+'<td style=\"padding:8px;'+bd+'\">'+(p.region||'\u2014')+'</td>'+'<td style=\"padding:8px;'+bd+'\">'+(p.products||[]).join(', ')+'</td>'+'<td style=\"padding:8px;'+bd+'\">'+(p.sicCodes||[]).join(', ')+'</td>'+'<td style=\"padding:8px;'+bd+'\">'+(fin.turnover!=null?'\u00a3'+Math.round(fin.turnover).toLocaleString():'\u2014')+'</td>'+'<td style=\"padding:8px;'+bd+';text-align:center\">'+(fin.employees!=null?fin.employees:'\u2014')+'</td>'+'<td style=\"padding:8px;'+bd+';text-align:center\">'+confBadge(p.accountsConfidence)+'</td>'+'<td style=\"padding:8px;'+bd+'\">'+(p.profileDate||'')+'</td>'+'</tr>'+noteRow;}).join('');\nconst avgRanking=list.length?(list.reduce(function(s,p){return s+p.customerRanking;},0)/list.length).toFixed(1):'0';\nconst html='<!DOCTYPE html><html><body style=\"font-family:Arial,sans-serif;max-width:1200px;margin:0 auto\">'+'<h2 style=\"color:#2c3e50\">Portland Fuel Customer Profiles</h2>'+'<p><b>'+list.length+' companies</b> | Average ranking: '+avgRanking+'/10 | '+date+(list.length===0?' \u2014 No profiles saved yet.':'')+'</p>'+'<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse\">'+'<thead><tr style=\"background:#2c3e50;color:#fff\">'+'<th style=\"padding:8px;text-align:left\">Company</th>'+'<th style=\"padding:8px;width:60px\">Rank</th>'+'<th style=\"padding:8px;width:110px\">Region</th>'+'<th style=\"padding:8px;width:160px\">Products</th>'+'<th style=\"padding:8px;width:80px\">SIC</th>'+'<th style=\"padding:8px;width:100px\">Turnover</th>'+'<th style=\"padding:8px;width:80px\">Employees</th>'+'<th style=\"padding:8px;width:80px\">Confidence</th>'+'<th style=\"padding:8px;width:90px\">Profiled</th>'+'</tr></thead><tbody>'+rows+'</tbody></table>'+'<p style=\"color:#999;font-size:11px\">Generated '+new Date().toISOString()+' via n8n / amelai</p>'+'</body></html>';\nconst esc=function(v){return '\"'+(String(v||'')).replace(/\"/g,'\"\"')+'\"';};\nconst csvHeader='Company Number,Company Name,Region,Ranking,Products,SIC Codes,Turnover,Employees,Net Assets,Accounts Year,Confidence,Ranking Note,Profile Date';\nconst csvRows=list.map(function(p){const fin=p.financials||{};return [esc(p.companyNumber),esc(p.companyName),esc(p.region||''),p.customerRanking,esc((p.products||[]).join('; ')),esc((p.sicCodes||[]).join('; ')),fin.turnover!=null?Math.round(fin.turnover):'',fin.employees!=null?fin.employees:'',fin.netAssets!=null?Math.round(fin.netAssets):'',esc(fin.accountsYear||''),esc(p.accountsConfidence||''),esc(p.rankingNote||''),esc(p.profileDate||'')].join(',');});\nconst csvContent=csvHeader+'\\n'+csvRows.join('\\n');\nconst csvBase64=Buffer.from(csvContent,'utf-8').toString('base64');\nreturn[{json:{subject:subj,htmlBody:html,csvBase64:csvBase64}}];"
      },
      "id": "35c6babb-b5bc-4c96-afaf-3ce7b207f9f8",
      "name": "Get All Profiles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9424,
        2432
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.microsoft.com/v1.0/me/sendMail",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ message: { subject: $json.subject, body: { contentType: 'HTML', content: $json.htmlBody }, toRecipients: [{ emailAddress: { address: 'steve@portland-fuel.co.uk' } }], attachments: [{ '@odata.type': '#microsoft.graph.fileAttachment', name: 'Customer_Profiles_' + new Date().toISOString().split('T')[0] + '.csv', contentType: 'text/csv', contentBytes: $json.csvBase64 }] }, saveToSentItems: false }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "f452d086-cd6c-49f5-a0cb-c50fd1424280",
      "name": "Send Profile List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9664,
        2432
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "Orgklv2FZdo5pC4V",
          "name": "MyHotmailEmail"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.mode }}",
              "value2": "remove"
            }
          ]
        }
      },
      "id": "cde6b905-26e1-4763-887d-bb8f4d5fb1dd",
      "name": "Route2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        9024,
        2608
      ]
    },
    {
      "parameters": {
        "jsCode": "const input=$('Parse Input').first().json;\nconst store=$getWorkflowStaticData('global');\nif(!store.profiles)store.profiles={};\nconst existing=store.profiles[input.companyNumber];\nif(!existing)return[{json:{companyNumber:input.companyNumber,companyName:'Unknown',removed:false}}];\nconst name=existing.companyName||input.companyNumber;\ndelete store.profiles[input.companyNumber];\nreturn[{json:{companyNumber:input.companyNumber,companyName:name,removed:true}}];"
      },
      "id": "841cd99a-e2ed-43ae-b389-a6c1dc29a9ba",
      "name": "Remove Profile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9424,
        2256
      ]
    },
    {
      "parameters": {
        "jsCode": "const p=$input.first().json;\nconst date=new Date().toLocaleDateString('en-GB');\nconst subj=p.removed?'Profile Removed: '+p.companyName+' ('+p.companyNumber+')':'Profile Not Found: '+p.companyNumber;\nconst msg=p.removed?'<p>The profile for <strong>'+p.companyName+'</strong> ('+p.companyNumber+') has been removed from the customer database.</p>':'<p>No profile was found for company number <strong>'+p.companyNumber+'</strong>. Nothing was deleted.</p>';\nconst html='<!DOCTYPE html><html><body style=\"font-family:Arial,sans-serif;max-width:700px;margin:0 auto\"><h2 style=\"color:#2c3e50\">'+(p.removed?'Profile Removed':'Profile Not Found')+'</h2>'+msg+'<p style=\"color:#999;font-size:11px\">'+date+' via n8n / amelai</p></body></html>';\nreturn[{json:{subject:subj,htmlBody:html}}];"
      },
      "id": "02d3e95b-c8f4-4835-ace5-9a02f54b6aa3",
      "name": "Format Remove Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9664,
        2256
      ]
    },
    {
      "parameters": {
        "toRecipients": "steve@portland-fuel.co.uk",
        "subject": "={{ $json.subject }}",
        "bodyContent": "={{ $json.htmlBody }}",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "id": "541d115d-3a1e-42b3-a644-10f677989a67",
      "name": "Send Remove Email",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        9904,
        2256
      ],
      "webhookId": "b0a57654-2d95-4f0a-b966-51eb19c00b02",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "Orgklv2FZdo5pC4V",
          "name": "MyHotmailEmail"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "bb30faa4-3083-4326-a7a8-748c195e9e9a",
      "name": "Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        9232,
        2640
      ]
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there welcome to the Portland Company Profiler.\n\nAdd one or more companies (one per line):\nadd 06880902 10 Hedging, Bulk | large arable farm, consistent volumes\nadd 12345678 8 HVO, Cards | regional haulier, growing fleet\n\nThe note after '|' is optional but recommended for lead scoring.\nWithout a note:\nadd 06880902 8 Bulk\n\nUpdate fields on an existing company without re-searching financials:\nupdate 06880902 Products=Hedging, Fuelcards | Ranking=10\n(Products/SIC Codes are added to the existing list, not replaced. Other fields are overwritten. Field names must match a CSV column: Company Name, Region, Ranking, Products, SIC Codes, Turnover, Employees, Net Assets, Accounts Year, Confidence, Ranking Note, Profile Date)\n\nOther commands (single line only):\nremove 06880902\nlist\n\n(Using 'add' on an existing company number will overwrite the existing entry)",
        "options": {
          "subtitle": "Enter one or more add commands (one per line): add <RegNo> <Ranking> <Products>. Or: update <RegNo> <Field>=<Value> | <Field>=<Value> / list / remove <RegNo>",
          "title": "Portland Company Profiler Entry"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        8336,
        2608
      ],
      "id": "025025f9-63ac-4636-a1a3-f9447e48dd13",
      "name": "When chat message received",
      "webhookId": "pfl-profiler-test"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.mode }}",
              "value2": "update"
            }
          ]
        }
      },
      "id": "0ef64bbf-a4b5-446c-9a53-737789f69db7",
      "name": "Route3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        9024,
        2864
      ]
    },
    {
      "parameters": {
        "jsCode": "const input=$('Parse Input').first().json;\nconst store=$getWorkflowStaticData('global');\nif(!store.profiles)store.profiles={};\nconst existing=store.profiles[input.companyNumber];\nif(!existing){\n  return[{json:{companyNumber:input.companyNumber,companyName:'Unknown',updated:false,changes:[],errors:['No profile found for '+input.companyNumber+'. Use \"add\" to create one first.']}}];\n}\nif(!existing.financials)existing.financials={};\n\nconst fieldMap={\n  'company name':{obj:'root',prop:'companyName',type:'string'},\n  'region':{obj:'root',prop:'region',type:'string'},\n  'ranking':{obj:'root',prop:'customerRanking',type:'number'},\n  'products':{obj:'root',prop:'products',type:'array-merge'},\n  'sic codes':{obj:'root',prop:'sicCodes',type:'array-merge'},\n  'turnover':{obj:'financials',prop:'turnover',type:'number'},\n  'employees':{obj:'financials',prop:'employees',type:'number'},\n  'net assets':{obj:'financials',prop:'netAssets',type:'number'},\n  'accounts year':{obj:'financials',prop:'accountsYear',type:'string'},\n  'confidence':{obj:'root',prop:'accountsConfidence',type:'string'},\n  'ranking note':{obj:'root',prop:'rankingNote',type:'string'},\n  'profile date':{obj:'root',prop:'profileDate',type:'string'}\n};\n\nconst changes=[];\nconst errors=[];\n\n(input.updates||[]).forEach(function(upd){\n  const def=fieldMap[upd.field.trim().toLowerCase()];\n  if(!def){errors.push('Unknown field \"'+upd.field+'\" \u2014 must match a CSV column (e.g. Ranking, Products, Region, Ranking Note).');return;}\n  const target=def.obj==='financials'?existing.financials:existing;\n\n  if(def.type==='number'){\n    const num=Number(upd.value);\n    if(isNaN(num)){errors.push('\"'+upd.field+'\" must be a number, got \"'+upd.value+'\"');return;}\n    const before=target[def.prop];\n    target[def.prop]=num;\n    changes.push(upd.field+': '+(before==null?'\u2014':before)+' \u2192 '+num);\n  } else if(def.type==='array-merge'){\n    const additions=upd.value.split(',').map(function(v){return v.trim();}).filter(Boolean);\n    const current=target[def.prop]||[];\n    const before=current.slice();\n    const merged=current.slice();\n    additions.forEach(function(a){\n      if(!merged.some(function(m){return m.toLowerCase()===a.toLowerCase();})){merged.push(a);}\n    });\n    target[def.prop]=merged;\n    changes.push(upd.field+': '+(before.join(', ')||'\u2014')+' \u2192 '+merged.join(', '));\n  } else {\n    const before=target[def.prop];\n    target[def.prop]=upd.value;\n    changes.push(upd.field+': '+(before||'\u2014')+' \u2192 '+upd.value);\n  }\n});\n\nstore.profiles[input.companyNumber]=existing;\nreturn[{json:{companyNumber:existing.companyNumber,companyName:existing.companyName,updated:changes.length>0,changes:changes,errors:errors}}];"
      },
      "id": "5202e4f9-ecc6-4904-b6b7-30788b803e40",
      "name": "Update Profile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9424,
        2576
      ]
    },
    {
      "parameters": {
        "jsCode": "const p=$input.first().json;\nconst date=new Date().toLocaleDateString('en-GB');\nconst notFound=p.companyName==='Unknown';\nconst subj=notFound?'Profile Not Found: '+p.companyNumber:(p.updated?'Profile Updated: '+p.companyName+' ('+p.companyNumber+')':'Profile Update Issue: '+p.companyName+' ('+p.companyNumber+')');\nconst changesList=(p.changes||[]).map(function(c){return '<li>'+c+'</li>';}).join('');\nconst errorsList=(p.errors||[]).map(function(e){return '<li style=\"color:#c0392b\">'+e+'</li>';}).join('');\nlet msg;\nif(notFound){\n  msg='<p>No profile was found for company number <strong>'+p.companyNumber+'</strong>. Use <code>add</code> to create it first.</p>';\n} else {\n  msg='<p>Profile for <strong>'+p.companyName+'</strong> ('+p.companyNumber+') updated.</p>'+(changesList?'<ul>'+changesList+'</ul>':'<p>No fields were changed.</p>')+(errorsList?'<p><strong>Issues:</strong></p><ul>'+errorsList+'</ul>':'');\n}\nconst html='<!DOCTYPE html><html><body style=\"font-family:Arial,sans-serif;max-width:700px;margin:0 auto\"><h2 style=\"color:#2c3e50\">'+(notFound?'Profile Not Found':(p.updated?'Profile Updated':'Update Issue'))+'</h2>'+msg+'<p style=\"color:#999;font-size:11px\">'+date+' via n8n / amelai</p></body></html>';\nreturn[{json:{subject:subj,htmlBody:html}}];"
      },
      "id": "51cd98b6-4ce4-4b05-8e31-393737b0756f",
      "name": "Format Update Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9664,
        2576
      ]
    },
    {
      "parameters": {
        "toRecipients": "steve@portland-fuel.co.uk",
        "subject": "={{ $json.subject }}",
        "bodyContent": "={{ $json.htmlBody }}",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "id": "5853abf1-14b9-428c-827a-1f8fa89161a1",
      "name": "Send Update Email",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        9904,
        2576
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "Orgklv2FZdo5pC4V",
          "name": "MyHotmailEmail"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Parse Input": {
      "main": [
        [
          {
            "node": "Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route": {
      "main": [
        [
          {
            "node": "Get All Profiles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route2": {
      "main": [
        [
          {
            "node": "Remove Profile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [
          {
            "node": "Get All Profiles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CH: Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Profile": {
      "main": [
        [
          {
            "node": "Format Remove Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Remove Email": {
      "main": [
        [
          {
            "node": "Send Remove Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CH: Company": {
      "main": [
        [
          {
            "node": "CH: Officers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CH: Officers": {
      "main": [
        [
          {
            "node": "CH: Filing History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CH: Filing History": {
      "main": [
        [
          {
            "node": "Get Filing URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Filing URL": {
      "main": [
        [
          {
            "node": "CH: Doc Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CH: Doc Metadata": {
      "main": [
        [
          {
            "node": "Extract PDF URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF URL": {
      "main": [
        [
          {
            "node": "CH: Get Redirect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CH: Get Redirect": {
      "main": [
        [
          {
            "node": "Extract S3 URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract S3 URL": {
      "main": [
        [
          {
            "node": "Detect Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Format": {
      "main": [
        [
          {
            "node": "Route: Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: Format": {
      "main": [
        [
          {
            "node": "CH: Download PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CH: Download iXBRL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CH: Download PDF": {
      "main": [
        [
          {
            "node": "Convert PDF to Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CH: Download iXBRL": {
      "main": [
        [
          {
            "node": "Extract iXBRL Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert PDF to Images": {
      "main": [
        [
          {
            "node": "Prep Vision Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Vision Prompt": {
      "main": [
        [
          {
            "node": "HTTP: Extract Financials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract iXBRL Text": {
      "main": [
        [
          {
            "node": "HTTP: Extract Financials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Extract Financials": {
      "main": [
        [
          {
            "node": "Web Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Web Search": {
      "main": [
        [
          {
            "node": "Build & Save Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build & Save Profile": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Profiles": {
      "main": [
        [
          {
            "node": "Send Profile List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route3": {
      "main": [
        [
          {
            "node": "Update Profile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Profile": {
      "main": [
        [
          {
            "node": "Format Update Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Update Email": {
      "main": [
        [
          {
            "node": "Send Update Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ed65bc3f-ac14-4bcf-934d-bbcaa47a1b8b",
  "meta": {
    "instanceId": "6e23109a98b6df358d89d07cb68f7791c431eec20aae3940902d07c181cc7d9a"
  },
  "id": "oRBVK1YOaorNW7Nx",
  "tags": []
}
