it/NewPC/n8n/OldWorkflows No Longer needed/CustomerProfiler_Workflow.json
{
  "name": "Portland Fuel - Customer Profiler",
  "nodes": [
    {
      "id": "p01",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [100, 300],
      "webhookId": "plf-profiler",
      "parameters": { "options": {} }
    },
    {
      "id": "p02",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 300],
      "parameters": {
        "jsCode": "const msg=($input.first().json.chatInput||$input.first().json.input||'').trim();\nif(msg.toLowerCase()==='list')return[{json:{mode:'list'}}];\nconst parts=msg.match(/^add\\s+([A-Z0-9]{6,8})\\s+(\\d{1,2})\\s+(.+)$/i);\nif(!parts)throw new Error('Format: add <regNo> <ranking 1-10> <product1, product2>  OR: list');\nconst products=parts[3].split(',').map(function(p){return p.trim();}).filter(Boolean);\nreturn[{json:{mode:'add',companyNumber:parts[1].toUpperCase(),ranking:Number(parts[2]),products:products}}];"
      }
    },
    {
      "id": "p03",
      "name": "Route",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [580, 300],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.mode }}",
              "operation": "equal",
              "value2": "list"
            }
          ]
        }
      }
    },
    {
      "id": "p04",
      "name": "CH: Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 160],
      "parameters": {
        "method": "GET",
        "url": "={{'https://api.company-information.service.gov.uk/company/'+$json.companyNumber}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": { "id": "ch-header", "name": "Companies House Header" }
      }
    },
    {
      "id": "p05",
      "name": "CH: Officers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1060, 160],
      "parameters": {
        "method": "GET",
        "url": "={{'https://api.company-information.service.gov.uk/company/'+$('Parse Input').first().json.companyNumber+'/officers?items_per_page=10'}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": { "id": "ch-header", "name": "Companies House Header" }
      }
    },
    {
      "id": "p06",
      "name": "CH: Filing History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 160],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "={{'https://api.company-information.service.gov.uk/company/'+$('Parse Input').first().json.companyNumber+'/filing-history?category=accounts&items_per_page=1'}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": { "id": "ch-header", "name": "Companies House Header" }
      }
    },
    {
      "id": "p06b",
      "name": "Get Filing URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 160],
      "parameters": {
        "jsCode": "const d=$input.first().json;\nconst f=(d.items||[])[0];\nconst pdfUrl=f&&f.links&&f.links.document_metadata?f.links.document_metadata+'/content':null;\nreturn[{json:{pdfUrl:pdfUrl,filingDate:f?f.date:null,filingType:f?f.type:null}}];"
      }
    },
    {
      "id": "p07",
      "name": "CH: Download Accounts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 160],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "={{ $json.pdfUrl || 'https://api.company-information.service.gov.uk/nosuchfile' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/pdf" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "pdfData"
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": { "id": "ch-header", "name": "Companies House Header" }
      }
    },
    {
      "id": "p08",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [2020, 160],
      "continueOnFail": true,
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "pdfData"
      }
    },
    {
      "id": "p09a",
      "name": "Prep Financials Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2260, 160],
      "parameters": {
        "jsCode": "const item=$input.first().json;\nconst txt=(item.text||item.data||'').substring(0,1500);\nconst prompt='Extract from these UK company accounts: employee count, annual turnover in GBP, net assets in GBP, and financial year. Return JSON only with keys: turnover (number or null), employees (number or null), netAssets (number or null), year (string YYYY or null).\\n\\nACCOUNTS:\\n'+txt;\nconst body=JSON.stringify({model:'qwen3.6:27b',prompt:prompt,stream:false,format:'json'});\nreturn[{json:{ollamaBody:body}}];"
      }
    },
    {
      "id": "p09b",
      "name": "HTTP: Extract Financials",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2500, 160],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.192:11434/api/generate",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.ollamaBody }}",
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "p10",
      "name": "Web Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2740, 160],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "={{'http://192.168.1.192:8080/search?format=json&categories=general&q='+encodeURIComponent($('Parse Input').first().json.companyNumber+' '+($('CH: Company').first().json.company_name||'')+' employees fleet vehicles')}}",
        "options": {}
      }
    },
    {
      "id": "p11",
      "name": "Build & Save Profile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2980, 160],
      "parameters": {
        "jsCode": "const input=$('Parse Input').first().json;\nconst company=$('CH: Company').first().json;\nconst officers=$('CH: Officers').first().json;\nconst webData=$input.first().json;\nlet financials={turnover:null,employees:null,netAssets:null,accountsYear:null};\ntry{\n  const finRaw=$('HTTP: Extract Financials').first().json;\n  if(finRaw&&finRaw.response){\n    const parsed=JSON.parse(finRaw.response);\n    financials={turnover:parsed.turnover||null,employees:parsed.employees||null,netAssets:parsed.netAssets||null,accountsYear:parsed.year||null};\n  }\n}catch(e){}\nconst webResults=(webData.results||[]).slice(0,3);\nconst webSnippets=webResults.map(function(r){return(r.title||'')+': '+(r.content||'').substring(0,150);});\nconst reg=company.registered_office_address||{};\nconst address=[reg.address_line_1,reg.locality,reg.postal_code].filter(Boolean).join(', ');\nconst dirs=(officers.items||[]).filter(function(o){return!o.resigned_on;}).map(function(o){return o.name+' ('+o.officer_role+')';}).slice(0,5);\nconst profile={companyNumber:input.companyNumber,companyName:company.company_name||'',address:address,sicCodes:company.sic_codes||[],incorporated:company.date_of_creation||null,status:company.company_status||'',directors:dirs,customerRanking:input.ranking,products:input.products,financials:financials,webSnippets:webSnippets,profileDate:new Date().toISOString().split('T')[0]};\nconst store=$getWorkflowStaticData('global');\nif(!store.profiles)store.profiles={};\nstore.profiles[input.companyNumber]=profile;\nreturn[{json:profile}];"
      }
    },
    {
      "id": "p12",
      "name": "Format Confirmation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3220, 160],
      "parameters": {
        "jsCode": "const p=$input.first().json;const fin=p.financials||{};const date=new Date().toLocaleDateString('en-GB');const subj='Customer Profile Added: '+p.companyName+' ('+p.companyNumber+')';const html='<!DOCTYPE html><html><body style=\"font-family:Arial,sans-serif;max-width:700px;margin:0 auto\"><h2 style=\"color:#2c3e50\">Customer Profile Saved</h2><p>Profile for <strong>'+p.companyName+'</strong> ('+p.companyNumber+') saved on '+date+'</p><table style=\"width:100%;border-collapse:collapse\"><tr><td style=\"padding:8px;background:#f5f5f5;font-weight:bold;width:180px\">Ranking</td><td style=\"padding:8px\">'+p.customerRanking+'/10</td></tr><tr><td style=\"padding:8px;background:#f5f5f5;font-weight:bold\">Products</td><td style=\"padding:8px\">'+(p.products||[]).join(', ')+'</td></tr><tr><td style=\"padding:8px;background:#f5f5f5;font-weight:bold\">Address</td><td style=\"padding:8px\">'+p.address+'</td></tr><tr><td style=\"padding:8px;background:#f5f5f5;font-weight:bold\">SIC Codes</td><td style=\"padding:8px\">'+(p.sicCodes||[]).join(', ')+'</td></tr><tr><td style=\"padding:8px;background:#f5f5f5;font-weight:bold\">Incorporated</td><td style=\"padding:8px\">'+(p.incorporated||'Unknown')+'</td></tr><tr><td style=\"padding:8px;background:#f5f5f5;font-weight:bold\">Directors</td><td style=\"padding:8px\">'+(p.directors||[]).join('<br>')+'</td></tr><tr><td style=\"padding:8px;background:#f5f5f5;font-weight:bold\">Turnover</td><td style=\"padding:8px\">'+(fin.turnover?'\\u00a3'+fin.turnover.toLocaleString():'Not extracted')+'</td></tr><tr><td style=\"padding:8px;background:#f5f5f5;font-weight:bold\">Employees</td><td style=\"padding:8px\">'+(fin.employees||'Not extracted')+'</td></tr><tr><td style=\"padding:8px;background:#f5f5f5;font-weight:bold\">Net Assets</td><td style=\"padding:8px\">'+(fin.netAssets?'\\u00a3'+fin.netAssets.toLocaleString():'Not extracted')+'</td></tr><tr><td style=\"padding:8px;background:#f5f5f5;font-weight:bold\">Accounts Year</td><td style=\"padding:8px\">'+(fin.accountsYear||'Unknown')+'</td></tr></table><p style=\"color:#999;font-size:11px\">Generated '+new Date().toISOString()+' via n8n / amelai</p></body></html>';return[{json:{subject:subj,htmlBody:html}}];"
      }
    },
    {
      "id": "p13",
      "name": "Send Confirmation",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [3460, 160],
      "parameters": {
        "operation": "sendMail",
        "toRecipients": "steve@portland-fuel.co.uk",
        "subject": "={{ $json.subject }}",
        "bodyContent": "={{ $json.htmlBody }}",
        "bodyContentType": "html",
        "additionalFields": {}
      },
      "credentials": {
        "microsoftOutlookOAuth2Api": { "id": "hotmail-oauth", "name": "MyHotmailEmail" }
      }
    },
    {
      "id": "p14",
      "name": "Get All Profiles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [820, 440],
      "parameters": {
        "jsCode": "const store=$getWorkflowStaticData('global');\nconst profiles=store.profiles||{};\nconst list=Object.values(profiles).sort(function(a,b){return b.customerRanking-a.customerRanking;});\nconst date=new Date().toLocaleDateString('en-GB');\nconst subj='Portland Fuel Customer Profiles \\u2014 '+list.length+' companies | '+date;\nconst ch=function(n){return 'https://find-and-update.company-information.service.gov.uk/company/'+n;};\nconst rows=list.map(function(p){const fin=p.financials||{};return '<tr><td style=\"padding:8px;border-bottom:1px solid #ddd\"><strong><a href=\"'+ch(p.companyNumber)+'\" target=\"_blank\">'+p.companyName+'</a></strong><br><small>'+p.companyNumber+'</small></td><td style=\"padding:8px;border-bottom:1px solid #ddd;text-align:center\"><strong>'+p.customerRanking+'/10</strong></td><td style=\"padding:8px;border-bottom:1px solid #ddd\">'+(p.products||[]).join(', ')+'</td><td style=\"padding:8px;border-bottom:1px solid #ddd\">'+(p.sicCodes||[]).join(', ')+'</td><td style=\"padding:8px;border-bottom:1px solid #ddd\">'+(fin.turnover?'\\u00a3'+fin.turnover.toLocaleString():'\\u2014')+'</td><td style=\"padding:8px;border-bottom:1px solid #ddd\">'+(fin.employees||'\\u2014')+'</td><td style=\"padding:8px;border-bottom:1px solid #ddd\">'+(p.profileDate||'')+'</td></tr>';}).join('');\nconst avgRanking=list.length?(list.reduce(function(s,p){return s+p.customerRanking;},0)/list.length).toFixed(1):'0';\nconst html='<!DOCTYPE html><html><body style=\"font-family:Arial,sans-serif;max-width:1100px;margin:0 auto\"><h2 style=\"color:#2c3e50\">Portland Fuel Customer Profiles</h2><p><b>'+list.length+' companies</b> | Average ranking: '+avgRanking+'/10 | '+date+(list.length===0?' \\u2014 No profiles saved yet.':'')+'</p><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse\"><thead><tr style=\"background:#2c3e50;color:#fff\"><th style=\"padding:8px;text-align:left\">Company</th><th style=\"padding:8px;width:60px\">Rank</th><th style=\"padding:8px;width:180px\">Products</th><th style=\"padding:8px;width:100px\">SIC</th><th style=\"padding:8px;width:100px\">Turnover</th><th style=\"padding:8px;width:80px\">Employees</th><th style=\"padding:8px;width:90px\">Profiled</th></tr></thead><tbody>'+rows+'</tbody></table><p style=\"color:#999;font-size:11px\">Generated '+new Date().toISOString()+' via n8n / amelai</p></body></html>';\nreturn[{json:{subject:subj,htmlBody:html}}];"
      }
    },
    {
      "id": "p15",
      "name": "Send Profile List",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [1060, 440],
      "parameters": {
        "operation": "sendMail",
        "toRecipients": "steve@portland-fuel.co.uk",
        "subject": "={{ $json.subject }}",
        "bodyContent": "={{ $json.htmlBody }}",
        "bodyContentType": "html",
        "additionalFields": {}
      },
      "credentials": {
        "microsoftOutlookOAuth2Api": { "id": "hotmail-oauth", "name": "MyHotmailEmail" }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Trigger":           { "main": [[{ "node": "Parse Input",            "type": "main", "index": 0 }]] },
    "Parse Input":            { "main": [[{ "node": "Route",                  "type": "main", "index": 0 }]] },
    "Route":                  { "main": [
                                  [{ "node": "Get All Profiles",     "type": "main", "index": 0 }],
                                  [{ "node": "CH: Company",          "type": "main", "index": 0 }]
                                ]},
    "CH: Company":            { "main": [[{ "node": "CH: Officers",           "type": "main", "index": 0 }]] },
    "CH: Officers":           { "main": [[{ "node": "CH: Filing History",     "type": "main", "index": 0 }]] },
    "CH: Filing History":     { "main": [[{ "node": "Get Filing URL",         "type": "main", "index": 0 }]] },
    "Get Filing URL":         { "main": [[{ "node": "CH: Download Accounts",  "type": "main", "index": 0 }]] },
    "CH: Download Accounts":  { "main": [[{ "node": "Extract PDF Text",       "type": "main", "index": 0 }]] },
    "Extract PDF Text":       { "main": [[{ "node": "Prep Financials Prompt", "type": "main", "index": 0 }]] },
    "Prep Financials Prompt": { "main": [[{ "node": "HTTP: Extract Financials","type": "main", "index": 0 }]] },
    "HTTP: Extract Financials":{ "main": [[{ "node": "Web Search",            "type": "main", "index": 0 }]] },
    "Web Search":             { "main": [[{ "node": "Build & Save Profile",   "type": "main", "index": 0 }]] },
    "Build & Save Profile":   { "main": [[{ "node": "Format Confirmation",    "type": "main", "index": 0 }]] },
    "Format Confirmation":    { "main": [[{ "node": "Send Confirmation",      "type": "main", "index": 0 }]] },
    "Get All Profiles":       { "main": [[{ "node": "Send Profile List",      "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "id": "portland-customer-profiler",
  "tags": []
}
