it/NewPC/n8n/LeadGen_Workflow.json
{
  "name": "Portland Fuel - Lead Generation",
  "nodes": [
    {
      "id": "n01",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [200, 300],
      "webhookId": "plf-lead-gen",
      "parameters": { "options": {} }
    },
    {
      "id": "n02",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "parameters": {
        "jsCode": "const msg=($input.first().json.chatInput||$input.first().json.input||'').trim();\nconst num=msg.replace(/\\s/g,'').toUpperCase();\nconst isNum=/^(SC|NI|OC|SO|NP|NV)?[0-9]{6,8}$/.test(num);\nif(isNum)return[{json:{mode:'single',chUrl:'https://api.company-information.service.gov.uk/company/'+num,max:1,location:'',sicCodes:[]}}];\nconst sics=(msg.match(/\\b\\d{4,5}\\b/g)||[]).filter(s=>+s>=1000);\nconst mx=(msg.match(/\\b(\\d+)\\s*comp/i)||[])[1];\nconst max=Math.min(mx?+mx:25,25);\nconst loc=msg.replace(/\\b\\d{4,5}\\b/g,'').replace(/\\b\\d+\\s*comp\\w*/gi,'').replace(/sic/gi,'').replace(/[,\\s]+/g,' ').trim();\nconst u=new URL('https://api.company-information.service.gov.uk/advanced-search/companies');\nif(sics.length)u.searchParams.set('sic_codes',sics.join(','));\nif(loc)u.searchParams.set('location',loc);\nu.searchParams.set('company_status','active');\nu.searchParams.set('items_per_page',String(max));\nreturn[{json:{mode:'sic',chUrl:u.toString(),sicCodes:sics,location:loc,max}}];"
      }
    },
    {
      "id": "n03",
      "name": "HTTP: Companies House",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.chUrl }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBasicAuth",
        "options": {}
      },
      "credentials": {
        "httpBasicAuth": { "id": "ch-api", "name": "Companies House API" }
      }
    },
    {
      "id": "n04",
      "name": "Normalize Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300],
      "parameters": {
        "jsCode": "const src=$('Parse Input').first().json;\nconst d=$input.first().json;\nconst addr=o=>[o?.address_line_1,o?.locality,o?.postal_code].filter(Boolean).join(', ');\nlet list=[];\nif(src.mode==='single'){\n  if(d.company_number)list=[{companyNumber:d.company_number,companyName:d.company_name||'',address:addr(d.registered_office_address),sicCodes:d.sic_codes||[],incorporated:d.date_of_creation||''}];\n}else{\n  list=(d.items||[]).map(c=>({companyNumber:c.company_number,companyName:c.company_name||'',address:addr(c.registered_office_address),sicCodes:c.sic_codes||[],incorporated:c.date_of_creation||''}));\n}\nreturn list.slice(0,src.max||25).map(c=>({json:c}));"
      }
    },
    {
      "id": "n05",
      "name": "HTTP: Officers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 300],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "={{'https://api.company-information.service.gov.uk/company/'+$json.companyNumber+'/officers?items_per_page=5'}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBasicAuth",
        "options": {}
      },
      "credentials": {
        "httpBasicAuth": { "id": "ch-api", "name": "Companies House API" }
      }
    },
    {
      "id": "n06",
      "name": "Add Officers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 300],
      "parameters": {
        "jsCode": "return $input.all().map((item,i)=>{\n  const co=$('Normalize Results').all()[i].json;\n  const dirs=(item.json.items||[]).filter(o=>!o.resigned_on).map(o=>o.name+' ('+o.officer_role+')').slice(0,3);\n  return{json:{...co,directors:dirs.join('; ')||'N/A'}};\n});"
      }
    },
    {
      "id": "n07",
      "name": "HTTP: Filing History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1640, 300],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "={{'https://api.company-information.service.gov.uk/company/'+$json.companyNumber+'/filing-history?category=accounts&items_per_page=3'}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBasicAuth",
        "options": {}
      },
      "credentials": {
        "httpBasicAuth": { "id": "ch-api", "name": "Companies House API" }
      }
    },
    {
      "id": "n08",
      "name": "Add Filing URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1880, 300],
      "parameters": {
        "jsCode": "return $input.all().map((item,i)=>{\n  const co=$('Add Officers').all()[i].json;\n  const f=(item.json.items||[])[0];\n  const pdfUrl=f?.links?.document_metadata?f.links.document_metadata+'/content':null;\n  return{json:{...co,pdfUrl,filingDate:f?.date||null,filingType:f?.type||null}};\n});"
      }
    },
    {
      "id": "n09",
      "name": "HTTP: Download PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2120, 300],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "={{ $json.pdfUrl || 'https://api.company-information.service.gov.uk/nosuchfile' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/pdf" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "pdfData"
            }
          }
        }
      },
      "credentials": {
        "httpBasicAuth": { "id": "ch-api", "name": "Companies House API" }
      }
    },
    {
      "id": "n10",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [2360, 300],
      "continueOnFail": true,
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "pdfData"
      }
    },
    {
      "id": "n11",
      "name": "Merge PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2600, 300],
      "parameters": {
        "jsCode": "return $input.all().map((item,i)=>{\n  const co=$('Add Filing URL').all()[i].json;\n  const txt=item.json.error?'':(item.json.text||item.json.data||'');\n  return{json:{...co,pdfText:String(txt).substring(0,2000)}};\n});"
      }
    },
    {
      "id": "n12",
      "name": "HTTP: SearXNG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2840, 300],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "={{'http://192.168.1.192:8080/search?format=json&categories=general&q='+encodeURIComponent($json.companyName+' '+($json.directors||'').split(';')[0]+' fuel diesel')}}",
        "options": {}
      }
    },
    {
      "id": "n13",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3080, 300],
      "parameters": {
        "jsCode": "return $input.all().map((item,i)=>{\n  const co=$('Merge PDF').all()[i].json;\n  const web=(item.json.results||[]).slice(0,3).map(r=>r.title+': '+(r.content||'')).join('\\n');\n  const prompt='Assess this UK company as a Portland Fuel B2B prospect. Return JSON only.\\n\\nCOMPANY: '+co.companyName+'\\nNO: '+co.companyNumber+'\\nADDRESS: '+co.address+'\\nSIC: '+(co.sicCodes||[]).join(',')+'\\nFOUNDED: '+co.incorporated+'\\nDIRECTORS: '+co.directors+'\\nACCOUNTS: '+co.filingDate+' ('+co.filingType+')\\n\\nACCOUNTS TEXT:\\n'+(co.pdfText||'Not available')+'\\n\\nWEB:\\n'+(web||'No results')+'\\n\\nPRODUCTS:\\n1.Fuel Cards (3+ vehicle fleets)\\n2.Bulk Delivery (farms,construction,fixed sites)\\n3.Bunker Networks (road freight,multi-site)\\n4.Fuel Hedging (large businesses,fuel as major cost)\\n5.Fuel Consultancy (complex procurement)\\n\\nReturn: {\"score\":1-10,\"products\":[\"product names\"],\"summary\":\"2 sentences\",\"size\":\"micro/small/medium/large\",\"approach\":\"who to contact and angle\",\"flags\":\"red flags or none\"}';\n  const body=JSON.stringify({model:'qwen3.6:27b',prompt,stream:false,format:'json'});\n  return{json:{...co,webSnippets:web,ollamaBody:body}};\n});"
      }
    },
    {
      "id": "n14",
      "name": "HTTP: Ollama Qualify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3320, 300],
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.192:11434/api/generate",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.ollamaBody }}",
        "options": {
          "timeout": 600000
        }
      }
    },
    {
      "id": "n15",
      "name": "Parse Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3560, 300],
      "parameters": {
        "jsCode": "return $input.all().map((item,i)=>{\n  const co=$('Build Prompt').all()[i].json;\n  let ai={score:0,products:[],summary:'',size:'unknown',approach:'',flags:''};\n  try{Object.assign(ai,JSON.parse(item.json.response||'{}'));}catch(e){}\n  return{json:{...co,aiScore:Number(ai.score)||0,aiProducts:ai.products||[],aiSummary:ai.summary||'',aiSize:ai.size||'',aiApproach:ai.approach||'',aiFlags:ai.flags||''}};\n});"
      }
    },
    {
      "id": "n16",
      "name": "Format Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3800, 300],
      "parameters": {
        "jsCode": "const src=$('Parse Input').first().json;\nconst leads=$input.all().map(i=>i.json).sort((a,b)=>b.aiScore-a.aiScore).filter(c=>c.aiScore>=5);\nif(!leads.length)return[{json:{subject:'Portland Fuel Leads — No qualified results',htmlBody:'<p>No companies scored 5 or above for: '+(src.location||src.chUrl||'')+'</p>'}}];\nconst col=s=>s>=8?'#27ae60':s>=6?'#e67e22':'#e74c3c';\nconst rows=leads.map(c=>'<tr><td style=\"padding:10px;border-bottom:1px solid #ddd\"><strong><a href=\"https://find-and-update.company-information.service.gov.uk/company/'+c.companyNumber+'\">'+c.companyName+'</a></strong><br><small>'+c.address+'</small><br><small>Directors: '+c.directors+'</small></td><td style=\"padding:10px;border-bottom:1px solid #ddd;text-align:center\"><span style=\"font-size:22px;font-weight:bold;color:'+col(c.aiScore)+'\">'+c.aiScore+'</span></td><td style=\"padding:10px;border-bottom:1px solid #ddd\">'+c.aiProducts.join(', ')+'</td><td style=\"padding:10px;border-bottom:1px solid #ddd\">'+c.aiSummary+'<br><em>'+c.aiApproach+'</em>'+(c.aiFlags&&c.aiFlags!=='none'?'<br><b style=\"color:red\">'+c.aiFlags+'</b>':'')+'</td></tr>').join('');\nconst date=new Date().toLocaleDateString('en-GB');\nconst subj='Portland Fuel Leads — '+leads.length+' leads | '+(src.location||'Company lookup')+' | '+date;\nconst html='<!DOCTYPE html><html><body style=\"font-family:Arial,sans-serif;max-width:950px;margin:0 auto\"><h2 style=\"color:#2c3e50\">Portland Fuel Lead Digest</h2><p><b>'+leads.length+' qualified leads</b> | '+(src.location||'')+' | SIC: '+(src.sicCodes||[]).join(', ')+' | '+date+'</p><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse\"><thead><tr style=\"background:#2c3e50;color:#fff\"><th style=\"padding:10px;text-align:left\">Company</th><th style=\"padding:10px;width:60px\">Score</th><th style=\"padding:10px;width:180px\">Products</th><th style=\"padding:10px;text-align:left\">Assessment</th></tr></thead><tbody>'+rows+'</tbody></table><p style=\"color:#999;font-size:11px\">Generated '+new Date().toISOString()+' via n8n / amelai</p></body></html>';\nreturn[{json:{subject:subj,htmlBody:html}}];"
      }
    },
    {
      "id": "n17",
      "name": "Send Email",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [4040, 300],
      "parameters": {
        "operation": "sendMail",
        "toRecipients": "steve@portland-fuel.co.uk",
        "subject": "={{ $json.subject }}",
        "bodyContent": "={{ $json.htmlBody }}",
        "bodyContentType": "html",
        "additionalFields": {}
      },
      "credentials": {
        "microsoftOutlookOAuth2Api": { "id": "hotmail-oauth", "name": "MyHotmailEmail" }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Trigger":         { "main": [[{ "node": "Parse Input",          "type": "main", "index": 0 }]] },
    "Parse Input":          { "main": [[{ "node": "HTTP: Companies House", "type": "main", "index": 0 }]] },
    "HTTP: Companies House":{ "main": [[{ "node": "Normalize Results",     "type": "main", "index": 0 }]] },
    "Normalize Results":    { "main": [[{ "node": "HTTP: Officers",        "type": "main", "index": 0 }]] },
    "HTTP: Officers":       { "main": [[{ "node": "Add Officers",          "type": "main", "index": 0 }]] },
    "Add Officers":         { "main": [[{ "node": "HTTP: Filing History",  "type": "main", "index": 0 }]] },
    "HTTP: Filing History": { "main": [[{ "node": "Add Filing URL",        "type": "main", "index": 0 }]] },
    "Add Filing URL":       { "main": [[{ "node": "HTTP: Download PDF",    "type": "main", "index": 0 }]] },
    "HTTP: Download PDF":   { "main": [[{ "node": "Extract PDF Text",      "type": "main", "index": 0 }]] },
    "Extract PDF Text":     { "main": [[{ "node": "Merge PDF",             "type": "main", "index": 0 }]] },
    "Merge PDF":            { "main": [[{ "node": "HTTP: SearXNG",         "type": "main", "index": 0 }]] },
    "HTTP: SearXNG":        { "main": [[{ "node": "Build Prompt",          "type": "main", "index": 0 }]] },
    "Build Prompt":         { "main": [[{ "node": "HTTP: Ollama Qualify",  "type": "main", "index": 0 }]] },
    "HTTP: Ollama Qualify": { "main": [[{ "node": "Parse Score",           "type": "main", "index": 0 }]] },
    "Parse Score":          { "main": [[{ "node": "Format Email",          "type": "main", "index": 0 }]] },
    "Format Email":         { "main": [[{ "node": "Send Email",            "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "id": "portland-lead-gen",
  "tags": []
}
